fuzzywuzzy==0.18.0
joblib==1.1.0
jsons==1.6.3
jsonschema==4.16.0
nlp==0.4.0
nltk==3.7
pandas==1.4.4
plotly==5.10.0
plotly-express==0.4.0
seaborn==0.12.0
textblob==0.17.1
vaderSentiment==3.3.2
streamlit_lottie
streamlit_option_menu
wordcloud
numpy==1.26.4
streamlit
